header {
    width: 100%;
    padding: 30px 60px;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}

.in_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    justify-content: space-between;
}

.header_con {
    display: flex;
    justify-content: space-between;
}

/* header end */

section {
    width: 100%;
    padding: 160px;
    padding-bottom: 80px;
}

.section_1 {
    padding: 0;
    position: relative;
    top: 100px;
}

.section_1 > .sec_1_con, .mb_sec_1_con {
    position: relative;
}

/* section_1 end */

footer {
    background-color: black;
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
}